node_modules
.DS_Store
dist*
.eslintcache
report.html
vite.config.*.timestamp*

yarn.lock
npm-debug.log*
.pnpm-error.log*
.pnpm-debug.log

.idea

# VitePress
docs/.vitepress/dist
docs/.vitepress/cache