{
  "*.{js,jsx,ts,tsx}": [
    "eslint --cache --fix"
  ],
  "{!(package)*.json,*.code-snippets,.!({browserslist,npm,nvm})*rc}": [
    "eslint --cache --fix"
  ],
  "package.json": ["eslint --cache --fix"],
  "*.vue": [
    "eslint --cache --fix"
  ],
  "*.md": ["eslint --cache --fix"]
}